header {
background-color: #4EA0FF;
height: 100px;
border-top: 30px;
background-image: url(../img/pattern.png);
background-size: 400px;
margin-bottom: 20px;
}

.logo{
    height: 40px;
    margin-top: 50px;
}

.titolo{
    font-size: 65px;
    padding: 0;
    margin: 0;
    border: 0;
}

.autore{
    color: gray;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: large;
}

.autore2{
    color: #20A9E5;
}
.data{
    color: gray;
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 20px;
    font-size: small;   
}

.didascalia1{
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: small;
}

.didascalia2{
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: 20p;
    font-size: small;
}

.tabella {
    border-spacing: 0;
    width: 100%;
}

.intestazione {
    background-color:  #20A9E5;
    color: white;
    width: 100%;
    margin: 0;
    border: 0;
    text-align: left;
}

.dispari {
    background-color: #B1E5F2;
}

.riga td{
    width: 33%;
}

.interessi{
    color: gray;
    font-size: 15px;
}